In [1]:
import pandas as pd

In [2]:
# 데이터 파일 읽어오기 2019년 Seoul
df = pd.read_csv('temperature/2019/2019seoul.csv', encoding='euc-kr')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   날짜       365 non-null    object
 1   지점       365 non-null    object
 2   평균기온(℃)  365 non-null    float64
 3   최저기온(℃)  365 non-null    float64
 4   최고기온(℃)  365 non-null    float64
dtypes: float64(3), object(2)
memory usage: 14.4+ KB

In [4]:
df.head(5)

           날짜  지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0  2019-01-01  서울     -5.0     -8.2     -0.6
1  2019-01-02  서울     -4.9     -8.8      0.2
2  2019-01-03  서울     -3.5     -8.4      3.2
3  2019-01-04  서울     -1.1     -6.2      4.1
4  2019-01-05  서울     -2.8     -5.5      1.1

In [5]:
df['날짜'] = pd.to_datetime(df['날짜'])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   날짜       365 non-null    datetime64[ns]
 1   지점       365 non-null    object
 2   평균기온(℃)  365 non-null    float64
 3   최저기온(℃)  365 non-null    float64
 4   최고기온(℃)  365 non-null    float64
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 14.4+ KB

In [7]:
df['지점'].replace('108','서울')

0      서울
1      서울
2      서울
3      서울
4      서울
       ..
360    서울
361    서울
362    서울
363    서울
364    서울
Name: 지점, Length: 365, dtype: object

In [8]:
df.head()

          날짜  지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0 2019-01-01  서울     -5.0     -8.2     -0.6
1 2019-01-02  서울     -4.9     -8.8      0.2
2 2019-01-03  서울     -3.5     -8.4      3.2
3 2019-01-04  서울     -1.1     -6.2      4.1
4 2019-01-05  서울     -2.8     -5.5      1.1

In [9]:
df.drop('최저기온(℃)', axis=1, inplace=True)

In [10]:
df.head()

          날짜  지점  평균기온(℃)  최고기온(℃)
0 2019-01-01  서울     -5.0     -0.6
1 2019-01-02  서울     -4.9      0.2
2 2019-01-03  서울     -3.5      3.2
3 2019-01-04  서울     -1.1      4.1
4 2019-01-05  서울     -2.8      1.1

In [11]:
df.drop('최고기온(℃)', axis=1, inplace=True)

In [12]:
df.head()

          날짜  지점  평균기온(℃)
0 2019-01-01  서울     -5.0
1 2019-01-02  서울     -4.9
2 2019-01-03  서울     -3.5
3 2019-01-04  서울     -1.1
4 2019-01-05  서울     -2.8

In [13]:
df.tail()

            날짜  지점  평균기온(℃)
360 2019-12-27  서울     -1.7
361 2019-12-28  서울      1.1
362 2019-12-29  서울      3.8
363 2019-12-30  서울      2.7
364 2019-12-31  서울     -7.9

In [14]:
df.to_csv('temperature/2019/2019seoul.csv',sep=',')

In [17]:
# 데이터 파일 읽어오기 2019년 Busan
df1 = pd.read_csv('temperature/2019/2019busan.csv', encoding='euc-kr')

In [19]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   날짜       365 non-null    object
 1   지점       365 non-null    object
 2   평균기온(℃)  365 non-null    float64
 3   최저기온(℃)  365 non-null    float64
 4   최고기온(℃)  365 non-null    float64
dtypes: float64(3), object(2)
memory usage: 14.4+ KB

In [21]:
df1['날짜'] = pd.to_datetime(df1['날짜'])
df1.drop('최저기온(℃)', axis=1, inplace=True)
df1.drop('최고기온(℃)', axis=1, inplace=True)

In [22]:
df1.head()

          날짜  지점  평균기온(℃)
0 2019-01-01  부산      1.0
1 2019-01-02  부산      1.2
2 2019-01-03  부산      3.0
3 2019-01-04  부산      5.0
4 2019-01-05  부산      5.5

In [23]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   날짜       365 non-null    datetime64[ns]
 1   지점       365 non-null    object
 2   평균기온(℃)  365 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 8.7+ KB

In [25]:
df1.to_csv('temperature/2019/2019busan.csv',sep=',')

In [26]:
df1.head()

          날짜  지점  평균기온(℃)
0 2019-01-01  부산      1.0
1 2019-01-02  부산      1.2
2 2019-01-03  부산      3.0
3 2019-01-04  부산      5.0
4 2019-01-05  부산      5.5

In [27]:
# 데이터 파일 읽어오기 2019년 Daegu
df2 = pd.read_csv('temperature/2019/2019daegu.csv', encoding='euc-kr')

In [28]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   날짜       365 non-null    object
 1   지점       365 non-null    object
 2   평균기온(℃)  365 non-null    float64
 3   최저기온(℃)  365 non-null    float64
 4   최고기온(℃)  365 non-null    float64
dtypes: float64(3), object(2)
memory usage: 14.4+ KB

In [29]:
df2['날짜'] = pd.to_datetime(df2['날짜'])
df2.drop('최저기온(℃)', axis=1, inplace=True)
df2.drop('최고기온(℃)', axis=1, inplace=True)

In [30]:
df2.head()

          날짜  지점  평균기온(℃)
0 2019-01-01  대구     -0.6
1 2019-01-02  대구     -0.5
2 2019-01-03  대구      0.0
3 2019-01-04  대구      0.9
4 2019-01-05  대구      2.4

In [31]:
df2.to_csv('temperature/2019/2019daegu.csv',sep=',')

In [32]:
# 데이터 파일 읽어오기 2019년 Busan
df3 = pd.read_csv('temperature/2019/2019incheon.csv', encoding='euc-kr')

In [34]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   날짜       365 non-null    object
 1   지점       365 non-null    object
 2   평균기온(℃)  365 non-null    float64
 3   최저기온(℃)  365 non-null    float64
 4   최고기온(℃)  365 non-null    float64
dtypes: float64(3), object(2)
memory usage: 14.4+ KB

In [35]:
df3['날짜'] = pd.to_datetime(df3['날짜'])
df3.drop('최저기온(℃)', axis=1, inplace=True)
df3.drop('최고기온(℃)', axis=1, inplace=True)

In [36]:
df3.head()

          날짜  지점  평균기온(℃)
0 2019-01-01  인천     -4.4
1 2019-01-02  인천     -3.9
2 2019-01-03  인천     -2.6
3 2019-01-04  인천     -0.3
4 2019-01-05  인천     -2.8

In [37]:
df3.to_csv('temperature/2019/2019incheon.csv',sep=',')

In [38]:
# 데이터 파일 읽어오기 2019년 Busan
df4 = pd.read_csv('temperature/2019/2019kwangju.csv', encoding='euc-kr')

In [39]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   날짜       365 non-null    object
 1   지점       365 non-null    object
 2   평균기온(℃)  365 non-null    float64
 3   최저기온(℃)  365 non-null    float64
 4   최고기온(℃)  365 non-null    float64
dtypes: float64(3), object(2)
memory usage: 14.4+ KB

In [40]:
df4['날짜'] = pd.to_datetime(df4['날짜'])
df4.drop('최저기온(℃)', axis=1, inplace=True)
df4.drop('최고기온(℃)', axis=1, inplace=True)

In [41]:
df4.head()

          날짜  지점  평균기온(℃)
0 2019-01-01  광주      0.0
1 2019-01-02  광주     -0.1
2 2019-01-03  광주      0.5
3 2019-01-04  광주      0.7
4 2019-01-05  광주      2.0

In [42]:
df4.to_csv('temperature/2019/2019kwangju.csv',sep=',')

In [43]:
# 데이터 파일 읽어오기 2019년 Daejeon
df5 = pd.read_csv('temperature/2019/2019daejeon.csv', encoding='euc-kr')

In [44]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   날짜       365 non-null    object
 1   지점       365 non-null    object
 2   평균기온(℃)  365 non-null    float64
 3   최저기온(℃)  365 non-null    float64
 4   최고기온(℃)  365 non-null    float64
dtypes: float64(3), object(2)
memory usage: 14.4+ KB

In [45]:
df5['날짜'] = pd.to_datetime(df5['날짜'])
df5.drop('최저기온(℃)', axis=1, inplace=True)
df5.drop('최고기온(℃)', axis=1, inplace=True)

In [46]:
df5.head()

          날짜  지점  평균기온(℃)
0 2019-01-01  대전     -2.7
1 2019-01-02  대전     -3.3
2 2019-01-03  대전     -2.7
3 2019-01-04  대전     -1.6
4 2019-01-05  대전     -0.7

In [47]:
df5.to_csv('temperature/2019/2019daejeon.csv',sep=',')

In [48]:
# 데이터 파일 읽어오기 2019년 Ulsan
df6 = pd.read_csv('temperature/2019/2019ulsan.csv', encoding='euc-kr')

In [49]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   날짜       365 non-null    object
 1   지점       365 non-null    object
 2   평균기온(℃)  365 non-null    float64
 3   최저기온(℃)  365 non-null    float64
 4   최고기온(℃)  365 non-null    float64
dtypes: float64(3), object(2)
memory usage: 14.4+ KB

In [50]:
df6['날짜'] = pd.to_datetime(df6['날짜'])
df6.drop('최저기온(℃)', axis=1, inplace=True)
df6.drop('최고기온(℃)', axis=1, inplace=True)

In [51]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   날짜       365 non-null    datetime64[ns]
 1   지점       365 non-null    object
 2   평균기온(℃)  365 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 8.7+ KB

In [52]:
df6.to_csv('temperature/2019/2019ulsan.csv',sep=',')

In [57]:
# 데이터 파일 읽어오기 2019년 Sejong
df7 = pd.read_csv('temperature/2019/2019sejong.csv', encoding='euc-kr')

In [58]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   날짜       365 non-null    object
 1   지점       365 non-null    object
 2   평균기온(℃)  365 non-null    float64
 3   최저기온(℃)  365 non-null    float64
 4   최고기온(℃)  365 non-null    float64
dtypes: float64(3), object(2)
memory usage: 14.4+ KB

In [59]:
df7['날짜'] = pd.to_datetime(df7['날짜'])
df7.drop('최저기온(℃)', axis=1, inplace=True)
df7.drop('최고기온(℃)', axis=1, inplace=True)

In [60]:
df7.head()

          날짜  지점  평균기온(℃)
0 2019-01-01  세종     -2.7
1 2019-01-02  세종     -3.1
2 2019-01-03  세종     -2.5
3 2019-01-04  세종     -1.2
4 2019-01-05  세종     -0.7

In [61]:
df7.to_csv('temperature/2019/2019sejong.csv',sep=',')

In [74]:
# 데이터 파일 읽어오기 2019년 chungbuk
df8 = pd.read_csv('temperature/2019/2019chungbuk.csv', encoding='UTF-8')

In [75]:
df8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   날짜       365 non-null    object
 1   지점       365 non-null    object
 2   평균기온(℃)  365 non-null    float64
 3   최저기온(℃)  365 non-null    float64
 4   최고기온(℃)  365 non-null    float64
dtypes: float64(3), object(2)
memory usage: 14.4+ KB

In [76]:
df8.head()

           날짜  지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0  2019-01-01  충북     -4.2     -8.5     -0.1
1  2019-01-02  충북     -5.1    -10.1      0.9
2  2019-01-03  충북     -5.0    -11.5      3.0
3  2019-01-04  충북     -3.1    -10.8      3.2
4  2019-01-05  충북     -2.1     -7.4      3.0

In [77]:
df8['날짜'] = pd.to_datetime(df8['날짜'])
df8.drop('최저기온(℃)', axis=1, inplace=True)
df8.drop('최고기온(℃)', axis=1, inplace=True)

In [78]:
df8.to_csv('temperature/2019/2019chungbuk.csv',sep=',')

In [81]:
# 데이터 파일 읽어오기 2019년 chungnam
df9 = pd.read_csv('temperature/2019/2019chungnam.csv', encoding='euc-kr')

In [82]:
df9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364 entries, 0 to 363
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   날짜       364 non-null    object
 1   지점       364 non-null    object
 2   평균기온(℃)  364 non-null    float64
 3   최저기온(℃)  364 non-null    float64
 4   최고기온(℃)  364 non-null    float64
dtypes: float64(3), object(2)
memory usage: 14.3+ KB

In [83]:
df9['날짜'] = pd.to_datetime(df9['날짜'])
df9.drop('최저기온(℃)', axis=1, inplace=True)
df9.drop('최고기온(℃)', axis=1, inplace=True)

In [85]:
df9.to_csv('temperature/2019/2019chungnam.csv',sep=',')

In [86]:
df9.head()

          날짜  지점  평균기온(℃)
0 2019-01-02  충남     -4.5
1 2019-01-03  충남     -4.1
2 2019-01-04  충남     -2.9
3 2019-01-05  충남     -2.0
4 2019-01-06  충남     -3.6

In [89]:
# 데이터 파일 읽어오기 2019년 jeonbuk
df10 = pd.read_csv('temperature/2019/2019jeonbuk.csv', encoding='euc-kr')

In [90]:
df10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   날짜       365 non-null    object
 1   지점       365 non-null    object
 2   평균기온(℃)  365 non-null    float64
 3   최저기온(℃)  365 non-null    float64
 4   최고기온(℃)  365 non-null    float64
dtypes: float64(3), object(2)
memory usage: 14.4+ KB

In [91]:
df10['날짜'] = pd.to_datetime(df10['날짜'])
df10.drop('최저기온(℃)', axis=1, inplace=True)
df10.drop('최고기온(℃)', axis=1, inplace=True)

In [92]:
df10.head()

          날짜  지점  평균기온(℃)
0 2019-01-01  전북     -0.8
1 2019-01-02  전북     -1.5
2 2019-01-03  전북     -2.1
3 2019-01-04  전북     -1.2
4 2019-01-05  전북      0.1

In [93]:
df10.to_csv('temperature/2019/2019jeonbuk.csv',sep=',')

In [95]:
# 데이터 파일 읽어오기 2019년 jeonnam
df11 = pd.read_csv('temperature/2019/2019jeonnam.csv', encoding='euc-kr')

In [96]:
df11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   날짜       365 non-null    object
 1   지점       365 non-null    object
 2   평균기온(℃)  365 non-null    float64
 3   최저기온(℃)  365 non-null    float64
 4   최고기온(℃)  365 non-null    float64
dtypes: float64(3), object(2)
memory usage: 14.4+ KB

In [98]:
df11['날짜'] = pd.to_datetime(df11['날짜'])
df11.drop('최저기온(℃)', axis=1, inplace=True)
df11.drop('최고기온(℃)', axis=1, inplace=True)

In [99]:
df11.head()

          날짜  지점  평균기온(℃)
0 2019-01-01  전남      1.1
1 2019-01-02  전남      0.9
2 2019-01-03  전남      0.6
3 2019-01-04  전남      0.5
4 2019-01-05  전남      2.9

In [100]:
df11.to_csv('temperature/2019/2019jeonnam.csv',sep=',')

In [101]:
# 데이터 파일 읽어오기 2019년 kyoungbuk
df12 = pd.read_csv('temperature/2019/2019kyoungbuk.csv', encoding='euc-kr')

In [102]:
df12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   날짜       365 non-null    object
 1   지점       365 non-null    object
 2   평균기온(℃)  365 non-null    float64
 3   최저기온(℃)  365 non-null    float64
 4   최고기온(℃)  365 non-null    float64
dtypes: float64(3), object(2)
memory usage: 14.4+ KB

In [103]:
df12['날짜'] = pd.to_datetime(df12['날짜'])
df12.drop('최저기온(℃)', axis=1, inplace=True)
df12.drop('최고기온(℃)', axis=1, inplace=True)

In [104]:
df12.head()

          날짜  지점  평균기온(℃)
0 2019-01-01  경북     -1.7
1 2019-01-02  경북     -1.8
2 2019-01-03  경북     -1.2
3 2019-01-04  경북      0.4
4 2019-01-05  경북      1.1

In [105]:
df12.to_csv('temperature/2019/2019kyoungbuk.csv',sep=',')

In [106]:
# 데이터 파일 읽어오기 2019년 kyoungnam
df13 = pd.read_csv('temperature/2019/2019kyoungnam.csv', encoding='euc-kr')

In [107]:
df13.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   날짜       365 non-null    object
 1   지점       365 non-null    object
 2   평균기온(℃)  365 non-null    float64
 3   최저기온(℃)  365 non-null    float64
 4   최고기온(℃)  365 non-null    float64
dtypes: float64(3), object(2)
memory usage: 14.4+ KB

In [108]:
df13['날짜'] = pd.to_datetime(df13['날짜'])
df13.drop('최저기온(℃)', axis=1, inplace=True)
df13.drop('최고기온(℃)', axis=1, inplace=True)

In [109]:
df13.head()

          날짜  지점  평균기온(℃)
0 2019-01-01  경남     -0.5
1 2019-01-02  경남     -0.7
2 2019-01-03  경남     -0.4
3 2019-01-04  경남      1.3
4 2019-01-05  경남      2.7

In [110]:
df13.to_csv('temperature/2019/2019kyoungnam.csv',sep=',')

In [112]:
# 데이터 파일 읽어오기 2019년 jeju
df14 = pd.read_csv('temperature/2019/2019jeju.csv', encoding='euc-kr')

In [113]:
df14.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   날짜       365 non-null    object
 1   지점       365 non-null    object
 2   평균기온(℃)  365 non-null    float64
 3   최저기온(℃)  365 non-null    float64
 4   최고기온(℃)  365 non-null    float64
dtypes: float64(3), object(2)
memory usage: 14.4+ KB

In [114]:
df14['날짜'] = pd.to_datetime(df14['날짜'])
df14.drop('최저기온(℃)', axis=1, inplace=True)
df14.drop('최고기온(℃)', axis=1, inplace=True)

In [115]:
df14.head()

          날짜  지점  평균기온(℃)
0 2019-01-01  제주      5.4
1 2019-01-02  제주      5.2
2 2019-01-03  제주      6.1
3 2019-01-04  제주      7.6
4 2019-01-05  제주      8.4

In [116]:
df14.to_csv('temperature/2019/2019jeju.csv',sep=',')

In [117]:
result_temp = pd.concat([df,df1], ignore_index=True)

In [119]:
result_temp

            날짜  지점  평균기온(℃)
0   2019-01-01  서울     -5.0
1   2019-01-02  서울     -4.9
2   2019-01-03  서울     -3.5
3   2019-01-04  서울     -1.1
4   2019-01-05  서울     -2.8
..         ...  ..      ...
725 2019-12-27  부산      3.6
726 2019-12-28  부산      4.1
727 2019-12-29  부산      6.5
728 2019-12-30  부산      9.6
729 2019-12-31  부산      0.1

[730 rows x 3 columns]

In [120]:
df

            날짜  지점  평균기온(℃)
0   2019-01-01  서울     -5.0
1   2019-01-02  서울     -4.9
2   2019-01-03  서울     -3.5
3   2019-01-04  서울     -1.1
4   2019-01-05  서울     -2.8
..         ...  ..      ...
360 2019-12-27  서울     -1.7
361 2019-12-28  서울      1.1
362 2019-12-29  서울      3.8
363 2019-12-30  서울      2.7
364 2019-12-31  서울     -7.9

[365 rows x 3 columns]

In [121]:
df1

            날짜  지점  평균기온(℃)
0   2019-01-01  부산      1.0
1   2019-01-02  부산      1.2
2   2019-01-03  부산      3.0
3   2019-01-04  부산      5.0
4   2019-01-05  부산      5.5
..         ...  ..      ...
360 2019-12-27  부산      3.6
361 2019-12-28  부산      4.1
362 2019-12-29  부산      6.5
363 2019-12-30  부산      9.6
364 2019-12-31  부산      0.1

[365 rows x 3 columns]