In [1]:
import pandas as pd

In [2]:
from glob import glob

In [3]:
glob('Data/PM25/대전/2020*.csv')

['Data/PM25/대전\\202001.csv',
 'Data/PM25/대전\\202002.csv',
 'Data/PM25/대전\\202003.csv',
 'Data/PM25/대전\\202004.csv',
 'Data/PM25/대전\\202005.csv',
 'Data/PM25/대전\\202006.csv',
 'Data/PM25/대전\\202007.csv',
 'Data/PM25/대전\\202008.csv',
 'Data/PM25/대전\\202009.csv',
 'Data/PM25/대전\\202010.csv',
 'Data/PM25/대전\\202011.csv',
 'Data/PM25/대전\\202012.csv']

In [4]:
region_list=glob('Data/PM25/대전/2020*.csv')

In [5]:
tmp_list=[]
for i in region_list:
    tmp_list.append(pd.read_csv(i,index_col=0,parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True))

In [6]:
df14=pd.concat(tmp_list)

In [7]:
df14.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 366 entries, 0 to 30
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      366 non-null    datetime64[ns]
 1   대전      366 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 8.6 KB

In [8]:
df14

           날짜         대전
0  2020-01-01  14.416667
1  2020-01-02  38.083333
2  2020-01-03  46.500000
3  2020-01-04  39.125000
4  2020-01-05  29.916667
..        ...        ...
26 2020-12-27  28.375000
27 2020-12-28  31.166667
28 2020-12-29  37.875000
29 2020-12-30   7.500000
30 2020-12-31  10.958333

[366 rows x 2 columns]

In [9]:
df14.to_csv('./Data/PM25/daejeon2020.csv', sep=',')