In [1]:
import pandas as pd

In [2]:
from glob import glob

In [3]:
glob('dust2.5/Busan*.csv')

['dust2.5\\Busan202101.csv',
 'dust2.5\\Busan202102.csv',
 'dust2.5\\Busan202103.csv',
 'dust2.5\\Busan202104.csv',
 'dust2.5\\Busan202105.csv',
 'dust2.5\\Busan202106.csv']

In [4]:
region_list=glob('dust2.5/Busan*.csv')

In [5]:
tmp_list=[]
for i in region_list:
    tmp_list.append(pd.read_csv(i,index_col=0,parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True))

In [6]:
df=pd.concat(tmp_list)

In [10]:
df=df.reset_index(drop=True)

In [11]:
df

            날짜  부산
0   2021-01-01  14
1   2021-01-02  19
2   2021-01-03  13
3   2021-01-04  25
4   2021-01-05  28
..         ...  ..
176 2021-06-26  15
177 2021-06-27  17
178 2021-06-28  19
179 2021-06-29  14
180 2021-06-30  13

[181 rows x 2 columns]

In [12]:
df.to_csv('dust2.5/Busan2021.csv', sep=',')

In [13]:
glob('dust2.5/Chungbuk*.csv')
region_list=glob('dust2.5/Chungbuk*.csv')
tmp_list=[]
for i in region_list:
    tmp_list.append(pd.read_csv(i,index_col=0,parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True))
    
df=pd.concat(tmp_list)
df=df.reset_index(drop=True)
df.to_csv('dust2.5/Chungbuk2021.csv', sep=',')

In [14]:
df

            날짜  충북
0   2021-01-01  24
1   2021-01-02  23
2   2021-01-03  21
3   2021-01-04  28
4   2021-01-05  23
..         ...  ..
176 2021-06-26  11
177 2021-06-27  14
178 2021-06-28  14
179 2021-06-29  15
180 2021-06-30  20

[181 rows x 2 columns]

In [15]:
glob('dust2.5/Chungnam*.csv')
region_list=glob('dust2.5/Chungnam*.csv')
tmp_list=[]
for i in region_list:
    tmp_list.append(pd.read_csv(i,index_col=0,parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True))
    
df=pd.concat(tmp_list)
df=df.reset_index(drop=True)
df.to_csv('dust2.5/Chungnam2021.csv', sep=',')

In [16]:
glob('dust2.5/Daegu*.csv')
region_list=glob('dust2.5/Daegu*.csv')
tmp_list=[]
for i in region_list:
    tmp_list.append(pd.read_csv(i,index_col=0,parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True))
    
df=pd.concat(tmp_list)
df=df.reset_index(drop=True)
df.to_csv('dust2.5/Daegu2021.csv', sep=',')

In [17]:
glob('dust2.5/Daejeon*.csv')
region_list=glob('dust2.5/Daejeon*.csv')
tmp_list=[]
for i in region_list:
    tmp_list.append(pd.read_csv(i,index_col=0,parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True))
    
df=pd.concat(tmp_list)
df=df.reset_index(drop=True)
df.to_csv('dust2.5/Daejeon2021.csv', sep=',')

In [19]:
glob('dust2.5/Incheon*.csv')
region_list=glob('dust2.5/Incheon*.csv')
tmp_list=[]
for i in region_list:
    tmp_list.append(pd.read_csv(i,index_col=0,parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True))
    
df=pd.concat(tmp_list)
df=df.reset_index(drop=True)
df.to_csv('dust2.5/Incheon2021.csv', sep=',')

In [20]:
glob('dust2.5/Jeju*.csv')
region_list=glob('dust2.5/Jeju*.csv')
tmp_list=[]
for i in region_list:
    tmp_list.append(pd.read_csv(i,index_col=0,parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True))
    
df=pd.concat(tmp_list)
df=df.reset_index(drop=True)
df.to_csv('dust2.5/Jeju2021.csv', sep=',')

In [21]:
glob('dust2.5/Jeonbuk*.csv')
region_list=glob('dust2.5/Jeonbuk*.csv')
tmp_list=[]
for i in region_list:
    tmp_list.append(pd.read_csv(i,index_col=0,parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True))
    
df=pd.concat(tmp_list)
df=df.reset_index(drop=True)
df.to_csv('dust2.5/Jeonbuk2021.csv', sep=',')

In [22]:
glob('dust2.5/Jeonnam*.csv')
region_list=glob('dust2.5/Jeonnam*.csv')
tmp_list=[]
for i in region_list:
    tmp_list.append(pd.read_csv(i,index_col=0,parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True))
    
df=pd.concat(tmp_list)
df=df.reset_index(drop=True)
df.to_csv('dust2.5/Jeonnam2021.csv', sep=',')

In [23]:
glob('dust2.5/Kangwon*.csv')
region_list=glob('dust2.5/Kangwon*.csv')
tmp_list=[]
for i in region_list:
    tmp_list.append(pd.read_csv(i,index_col=0,parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True))
    
df=pd.concat(tmp_list)
df=df.reset_index(drop=True)
df.to_csv('dust2.5/Kangwon2021.csv', sep=',')

In [24]:
glob('dust2.5/Kyoungki*.csv')
region_list=glob('dust2.5/Kyoungki*.csv')
tmp_list=[]
for i in region_list:
    tmp_list.append(pd.read_csv(i,index_col=0,parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True))
    
df=pd.concat(tmp_list)
df=df.reset_index(drop=True)
df.to_csv('dust2.5/Kyoungki2021.csv', sep=',')

In [25]:
glob('dust2.5/Kwangju*.csv')
region_list=glob('dust2.5/Kwangju*.csv')
tmp_list=[]
for i in region_list:
    tmp_list.append(pd.read_csv(i,index_col=0,parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True))
    
df=pd.concat(tmp_list)
df=df.reset_index(drop=True)
df.to_csv('dust2.5/Kwangju2021.csv', sep=',')

In [26]:
glob('dust2.5/Kyoungbuk*.csv')
region_list=glob('dust2.5/Kyoungbuk*.csv')
tmp_list=[]
for i in region_list:
    tmp_list.append(pd.read_csv(i,index_col=0,parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True))
    
df=pd.concat(tmp_list)
df=df.reset_index(drop=True)
df.to_csv('dust2.5/Kyoungbuk2021.csv', sep=',')

In [27]:
glob('dust2.5/Kyoungnam*.csv')
region_list=glob('dust2.5/Kyoungnam*.csv')
tmp_list=[]
for i in region_list:
    tmp_list.append(pd.read_csv(i,index_col=0,parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True))
    
df=pd.concat(tmp_list)
df=df.reset_index(drop=True)
df.to_csv('dust2.5/Kyoungnam2021.csv', sep=',')

In [28]:
glob('dust2.5/Sejong*.csv')
region_list=glob('dust2.5/Sejong*.csv')
tmp_list=[]
for i in region_list:
    tmp_list.append(pd.read_csv(i,index_col=0,parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True))
    
df=pd.concat(tmp_list)
df=df.reset_index(drop=True)
df.to_csv('dust2.5/Sejong2021.csv', sep=',')

In [29]:
glob('dust2.5/Seoul*.csv')
region_list=glob('dust2.5/Seoul*.csv')
tmp_list=[]
for i in region_list:
    tmp_list.append(pd.read_csv(i,index_col=0,parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True))
    
df=pd.concat(tmp_list)
df=df.reset_index(drop=True)
df.to_csv('dust2.5/Seoul2021.csv', sep=',')

In [30]:
glob('dust2.5/Ulsan*.csv')
region_list=glob('dust2.5/Ulsan*.csv')
tmp_list=[]
for i in region_list:
    tmp_list.append(pd.read_csv(i,index_col=0,parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True))
    
df=pd.concat(tmp_list)
df=df.reset_index(drop=True)
df.to_csv('dust2.5/Ulsan2021.csv', sep=',')

In [31]:
glob('dust10/Busan*.csv')
region_list=glob('dust10/Busan*.csv')
tmp_list=[]
for i in region_list:
    tmp_list.append(pd.read_csv(i,index_col=0,parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True))
    
df=pd.concat(tmp_list)
df=df.reset_index(drop=True)
df.to_csv('dust10/Busan2021.csv', sep=',')

In [32]:
glob('dust10/Chungbuk*.csv')
region_list=glob('dust10/Chungbuk*.csv')
tmp_list=[]
for i in region_list:
    tmp_list.append(pd.read_csv(i,index_col=0,parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True))
    
df=pd.concat(tmp_list)
df=df.reset_index(drop=True)
df.to_csv('dust10/Chungbuk2021.csv', sep=',')

In [33]:
glob('dust10/Chungnam*.csv')
region_list=glob('dust10/Chungnam*.csv')
tmp_list=[]
for i in region_list:
    tmp_list.append(pd.read_csv(i,index_col=0,parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True))
    
df=pd.concat(tmp_list)
df=df.reset_index(drop=True)
df.to_csv('dust10/Chungnam2021.csv', sep=',')

In [34]:
glob('dust10/Daegu*.csv')
region_list=glob('dust10/Daegu*.csv')
tmp_list=[]
for i in region_list:
    tmp_list.append(pd.read_csv(i,index_col=0,parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True))
    
df=pd.concat(tmp_list)
df=df.reset_index(drop=True)
df.to_csv('dust10/Daegu2021.csv', sep=',')

In [35]:
glob('dust10/Daejeon*.csv')
region_list=glob('dust10/Daejeon*.csv')
tmp_list=[]
for i in region_list:
    tmp_list.append(pd.read_csv(i,index_col=0,parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True))
    
df=pd.concat(tmp_list)
df=df.reset_index(drop=True)
df.to_csv('dust10/Daejeon2021.csv', sep=',')

In [36]:
glob('dust10/Incheon*.csv')
region_list=glob('dust10/Incheon*.csv')
tmp_list=[]
for i in region_list:
    tmp_list.append(pd.read_csv(i,index_col=0,parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True))
    
df=pd.concat(tmp_list)
df=df.reset_index(drop=True)
df.to_csv('dust10/Incheon2021.csv', sep=',')

In [37]:
glob('dust10/Jeju*.csv')
region_list=glob('dust10/Jeju*.csv')
tmp_list=[]
for i in region_list:
    tmp_list.append(pd.read_csv(i,index_col=0,parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True))
    
df=pd.concat(tmp_list)
df=df.reset_index(drop=True)
df.to_csv('dust10/Jeju2021.csv', sep=',')

In [38]:
glob('dust10/Jeonbuk*.csv')
region_list=glob('dust10/Jeonbuk*.csv')
tmp_list=[]
for i in region_list:
    tmp_list.append(pd.read_csv(i,index_col=0,parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True))
    
df=pd.concat(tmp_list)
df=df.reset_index(drop=True)
df.to_csv('dust10/Jeonbuk2021.csv', sep=',')

In [39]:
glob('dust10/Jeonnam*.csv')
region_list=glob('dust10/Jeonnam*.csv')
tmp_list=[]
for i in region_list:
    tmp_list.append(pd.read_csv(i,index_col=0,parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True))
    
df=pd.concat(tmp_list)
df=df.reset_index(drop=True)
df.to_csv('dust10/Jeonnam2021.csv', sep=',')

In [40]:
glob('dust10/Kangwon*.csv')
region_list=glob('dust10/Kangwon*.csv')
tmp_list=[]
for i in region_list:
    tmp_list.append(pd.read_csv(i,index_col=0,parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True))
    
df=pd.concat(tmp_list)
df=df.reset_index(drop=True)
df.to_csv('dust10/Kangwon2021.csv', sep=',')

In [41]:
glob('dust10/Kwangju*.csv')
region_list=glob('dust10/Kwangju*.csv')
tmp_list=[]
for i in region_list:
    tmp_list.append(pd.read_csv(i,index_col=0,parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True))
    
df=pd.concat(tmp_list)
df=df.reset_index(drop=True)
df.to_csv('dust10/Kwangju2021.csv', sep=',')

In [42]:
glob('dust10/Kyoungbuk*.csv')
region_list=glob('dust10/Kyoungbuk*.csv')
tmp_list=[]
for i in region_list:
    tmp_list.append(pd.read_csv(i,index_col=0,parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True))
    
df=pd.concat(tmp_list)
df=df.reset_index(drop=True)
df.to_csv('dust10/Kyoungbuk2021.csv', sep=',')

In [43]:
glob('dust10/Kyoungnam*.csv')
region_list=glob('dust10/Kyoungnam*.csv')
tmp_list=[]
for i in region_list:
    tmp_list.append(pd.read_csv(i,index_col=0,parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True))
    
df=pd.concat(tmp_list)
df=df.reset_index(drop=True)
df.to_csv('dust10/Kyoungnam2021.csv', sep=',')

In [44]:
glob('dust10/Kyoungki*.csv')
region_list=glob('dust10/Kyoungki*.csv')
tmp_list=[]
for i in region_list:
    tmp_list.append(pd.read_csv(i,index_col=0,parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True))
    
df=pd.concat(tmp_list)
df=df.reset_index(drop=True)
df.to_csv('dust10/Kyoungki2021.csv', sep=',')

In [45]:
glob('dust10/Sejong*.csv')
region_list=glob('dust10/Sejong*.csv')
tmp_list=[]
for i in region_list:
    tmp_list.append(pd.read_csv(i,index_col=0,parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True))
    
df=pd.concat(tmp_list)
df=df.reset_index(drop=True)
df.to_csv('dust10/Sejong2021.csv', sep=',')

In [46]:
glob('dust10/Seoul*.csv')
region_list=glob('dust10/Seoul*.csv')
tmp_list=[]
for i in region_list:
    tmp_list.append(pd.read_csv(i,index_col=0,parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True))
    
df=pd.concat(tmp_list)
df=df.reset_index(drop=True)
df.to_csv('dust10/Seoul2021.csv', sep=',')

In [47]:
glob('dust10/Ulsan*.csv')
region_list=glob('dust10/Ulsan*.csv')
tmp_list=[]
for i in region_list:
    tmp_list.append(pd.read_csv(i,index_col=0,parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True))
    
df=pd.concat(tmp_list)
df=df.reset_index(drop=True)
df.to_csv('dust10/Ulsan2021.csv', sep=',')